<!-- <ion-view view-title="Buscar">

  <ion-content class="padding">
<label class="item item-input">
  <i class="icon ion-search placeholder-icon"></i>
  <input type="search" placeholder="Search" ng-model="busqueda.parametro">
  <i ng-if="busqueda.parametro.length > 0" ng-click="clear()" class="icon ion-close placeholder-icon" ></i>
</label>
    <div class="list">
        <a class="item item-thumbnail-left" href="#/tab/misRemedios/buscar/{{producto.objectId}}" ng-repeat="producto in busqueda.lista">
          <img ng-src="{{producto.fotoCaja.url}}">
          <h2>{{producto.nombre}}</h2>
          <p>{{producto.mg}}</p>
          <h1 style="position:absolute; right: 30px; top: 5px; color: green;">{{producto.precio}}</h1>
        </a>
    </div>
  </ion-content>
</ion-view> -->

<ion-view view-title="Buscar">

  <ion-content>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label search_label">Nombre del remedio</span>
        <input type="search" placeholder="Nombre del Remedio (ej: aspirina, lipitor, etc)" ng-model="busqueda.parametro">
      </label>
      <a class="item" href="#/tab/misRemedios/buscar/{{producto.objectId}}" ng-if="busqueda.parametro.length != 0" ng-repeat="producto in busqueda.lista">
        {{producto.nombre}}
      </a>
    </div>
  </ion-content>
</ion-view>