<ion-view view-title="Mis remedios">
<ion-nav-buttons side="right">
    <!-- <i class="button button-icon icon ion-ios-plus-empty" ng-click="buscarRemedio()"></i> -->
    <i class="button button-clear" ng-click="siguiente()" ng-if="remedios.length != 0">Siguiente</i>
 </ion-nav-buttons>
  <ion-content>
    <br><br>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="remedio in remedios" type="item-text-wrap" href="#/tab/misRemedios/1">
        <img ng-src="{{remedio.fotoPastilla.url}}">
        <h2>{{remedio.nombre}}</h2>
        <p>{{remedio.mg}}mg {{remedio.cantidadDeComprimidos}} comprimidos</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(remedio)">
          Eliminar
        </ion-option-button>
      </ion-item>
      <!-- <ion-item class="item-remove-animate item-avatar item-icon-right" href="#/tab/misRemedios/buscar">
          <img src="" alt="">
          Agregar remedio
      </ion-item> -->
      <ion-item class="item item-icon-left" href="#/tab/misRemedios/buscar" style="color: #5da6dc;">
          <i class="icon ion-ios-plus-outline" style="color:#5da6dc; font-size: 48px;"> </i>
          <span style="padding-left: 12px;">Agregar remedio</span>
      </ion-item>

      
    </ion-list>
  </ion-content>
<!--   <div >
      <button class="button button-block button-calm" style="bottom: 45px; position: absolute;" ng-click="hacerPedido()">
        Hacer pedido{{hola}}
      </button>
  </div> -->

  
</ion-view>
