<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Editar Remedio">
  <ion-content class>
    <ion-list>
      <div class="item item-avatar med_title">
        <img src="{{producto.fotoPastilla.url}}">
        <h2>{{producto.nombre}}</h2>
        <p>{{producto.mg}}mg</p>
      </div>
      <br><br>
      <label class="item item-input item-select">
        <div class="input-label">
          Dosis
        </div>
        <select>
          <option>45 mg</option>
          <option>65 mg</option>
          <option selected>81 mg</option>
          <option>100 mg</option>
        </select>
      </label>
      <label class="item item-input item-select">
      <div class="input-label">
        Frecuencia
      </div>
      <select>
        <option selected>1 dosis al día</option>
        <option>2 dosis al día</option>
        <option>3 dosis al día</option>
        <option>1 dosis cada dos días</option>
      </select>
    </label>
    <br><br>
      <div class="item item-icon-right" ng-click="#">
        Ver opciones bio equivalentes
        <span class="badge badge-calm">3</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
      <div class="item item-icon-right" ng-click="#">
        Información sobre el remedio
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
      <br><br>
      <div class="item item_narrow center">
        <a class="button button-clear button-assertive center" ng-click="remove(remedio)">
          Eliminar Remedio
        </a>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
