<ion-view view-title="Tu pedido">
  <ion-content>

  <div class="list">

    <label class="item item-radio">
      <input type="radio" name="group">
      <div class="item-content">
        Cada dos semanas
      </div>
      <i class="radio-icon ion-checkmark"></i>
    </label>
    <label class="item item-radio">
      <input type="radio" name="group">
      <div class="item-content">
        Una vez al mes
      </div>
      <i class="radio-icon ion-checkmark"></i>
    </label>
    <label class="item item-radio">
      <input type="radio" name="group">
      <div class="item-content">
        Cada dos meses
      </div>
      <i class="radio-icon ion-checkmark"></i>
    </label>

  </div>
    <div class="list list-inset">
      <div class="item">
        <div class="row">
          <div class="col col-75">Detalle</div>
        </div>
        <div class="row" ng-repeat="remedio in remedios">
          <div class="col col-75">{{remedio.nombre}}</div>
          <div class="col">$ {{numFormat(remedio.precio)}}</div>
        </div>
      </div>
    </div>
    <button class="button button-block button-outline button-calm" ng-click="addImage()">
   Subir receta
  </button><br><br>
  <ion-scroll>
  <div ng-repeat="image in images">
  	<img ng-src="{{urlForImage(image)}}" style="border-width: 1px;border-color: Black;" height="200px" />
  	<p>{{urlForImage(image)}}</p>
  </div>
  </ion-scroll>
  </ion-content>
</ion-view>