<ion-view view-title="Envío">
  <ion-content>
    <div class="list">
    <label class="item item-input item-floating-label">
      <span class="input-label">Dirección de destino</span>
      <input type="text" placeholder="Dirección de destino" ng-model="formData.direccion">
    </label>
    <label class="item item-input item-floating-label">
      <span class="input-label">Celular</span>
      <input type="text" placeholder="Celular de contacto" ng-model="formData.telefono">
    </label>
    <label class="item item-input">
    <textarea placeholder="Comentarios" ng-model="formData.comentarios">
    </textarea>
  </label>
    <button class="button button-full button-balanced" ng-click="hacerPedido()">
      Hacer pedido
    </button>
    </div>
  </ion-content>
</ion-view>