<ion-view view-title="{{producto.nombre}}">
<ion-nav-buttons side="right">
 	<i class="button button-clear" ng-click="agregar()"> Agregar</i>
</ion-nav-buttons>

  <ion-content>
  	<div class="list list-inset">

	  <div class="item item-avatar">
	    <img src="{{producto.fotoPastilla.url}}">
	    <h2>{{producto.nombre}}</h2>
	    <p>{{producto.mg}}mg</p>
	  </div>

	  <div class="item item-image">
	    <img src="{{producto.fotoCaja.url}}">
	  </div>

	</div>
	<div class="list">
	  <label class="item item-input item-select">
	    <div class="input-label">
	      Dosis
	    </div>
	    <select>
	      <option>45 mg</option>
	      <option>65 mg</option>
	      <option selected>81 mg</option>
	      <option>100 mg</option>
	    </select>
	  </label>
	</div>
  </ion-content>
</ion-view>