<ion-view view-title="Tienda">
  <ion-content class="padding">
    <div class="list">

    <a class="item item-thumbnail-left" href="#">
      <img src="http://www.bayerandina.com/images/negocios/fotos_productos/CC/ecuador/foto_asa500ecu.jpg">
      <h2>Aspirina 500mg Bayer</h2>
      <p>Ahorro del 15%</p>
      <h1 style="position:absolute; right: 30px; top: 5px; color: green;">$4.550</h1>
    </a>
    <a class="item item-thumbnail-left" href="#">
      <img src="http://www.drogariamunizdobrasil.com.br/imagensSistema/8f6fcfeeddd669f4d9a8060f956e9a17.jpeg">
      <h2>Paracetamol 750mg</h2>
      <p>Ahorro del 230%</p>
      <h1 style="position:absolute; right: 30px; top: 5px; color: green;">$4.550</h1>
    </a>
    <a class="item item-thumbnail-left" href="#">
      <img src="http://epd.bz/304-thickbox/generico-atarax-hydroxyzin.jpg">
      <h2>Atarax 25 mg</h2>
      <p>Entrega inmediata</p>
      <h1 style="position:absolute; right: 30px; top: 5px; color: green;">$4.550</h1>
    </a>
    <a class="item item-thumbnail-left" href="#">
      <img src="http://www.germedgenericos.com.br/media/medicamentos/big/87_clonazepam.png">
      <h2>Rabotril generico 30 comprimidos</h2>
      <p>Entrega inmediata</p>
      <h1 style="position:absolute; right: 30px; top: 5px; color: green;">$4.550</h1>
    </a>
    <a class="item item-thumbnail-left" href="#">
      <img src="http://topgenericpharmacy.com/151-thickbox/prozac-generico-30mg.jpg">
      <h2>Prozac 20mg </h2>
      <p>Ahorro del 120%</p>
      <h1 style="position:absolute; right: 30px; top: 5px; color: green;">$4.550</h1>
    </a>
</div>
  </ion-content>
</ion-view>
