<ion-view view-title="Mi cuenta">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Activar tarjeta de crédito
    </ion-toggle>
    <ion-item ng-click="toIntro()">
    Hacer el tutorial de nuevo
    </ion-item>
    <ion-item ng-click="logout()" ng-if="user">
    Cerrar sesión {{user.attributes.nombreCompleto}}
    </ion-item>
    <ion-item ng-click="openModal()" ng-hide="user">
    Iniciar Sesión
    </ion-item>
    <!-- <ion-item href="https://es.surveymonkey.com/r/M9RFSLC">
    ¡Danos tu feedback!
    </ion-item> -->
    <!-- <ion-item href="https://medfill.customersure.com/en/survey/Rlw2W6eqKz2WVYMqvg1X/completion/new">
    ¡Danos tu feedback!
    </ion-item> -->
    </ion-list>
  </ion-content>
</ion-view>
